<section class="resume wrap">
	<div class="resume- inner">

		<div class="name">
			<h1>Jason Swetzoff</h1>
			<h2 class="title">UI/UX Designer and front-end developer</h2>
		</div>
		
		<aside>
		
		<div class="main-info block">
			<ul>
				<li class="email">
					<a id="contact-link" href="mailto:swetzoff@gmail.com" >
					<i class="icon-mail label"></i>
						<span class="item" id="emailLink" ></span>
					</a>
				</li>
				<li class="www">
					<a href="http://www.shapeslikewater.com">
					<i class="icon-network label"></i>
					<span class="item">shapeslikewater.com</span>
					</a>
				</li>
				<li class="dribbble">
					<a href="http://dribbble.com/Jaswetz">
					<i class="icon-dribbble-circled label"></i>
					<span class="item">Dribbble</span>
					</a>
				</li>
				<li class="linked">
					<a href="http://www.linkedin.com/in/swetzoff/">
					<i class="icon-linkedin-circled label"></i>
					<span class="item">Linkedin</span>
					</a>
				</li>	
				<li>
					<a href="https://github.com/Jaswetz">
					<i class="icon-github-circled label"></i>
					<span class="item">Github</span>
				</a>
				</li>
				<li>
					<a href="http://ux.stackexchange.com/users/25657/jason">
					<i class="label">ux</i>
					<span class="item">ux.stackexchange</span>
					</a>
				</li>
		<!-- 		<li class="btn cv">
					<a href="">
					<i class="icon-download-cloud label btn"></i>
					<span class="item">CV (PDF)</span>
					</a>
				</li>
				<li class="btn vcard">
					<a href="">
					<i class="icon-download-cloud label"></i>
					<span class="item">vCard</span>
				</a>
				</li> -->
			</ul>
		</div>

		<div class="resume-skills block">
			<ul>
				<li><h4> <i class="icon-brush"></i>Design</h4>
					<ul>
						<li class="fireworks">Adobe Fireworks</li>
						<li class="illus">Adobe Illustrator</li>
						<li class="photoshop">Adobe Photoshop</li>
						<li class="browser">Designing in Browser</li>
					</ul>
				</li>
				<li class="front-end"><h4> <i class="icon-layers"></i>Front-End</h4>
					<ul>
						<li class="Css">Css3</li>
						<li class="html">HTML5</li>
						<li class="sass">Sass</li>
						<li class="js">.js</li>
						<li class="jquery">jQuery</li>
						<li class="drupal">Drupal</li>
						<li class="git">Git (command line)</li>
						<li class="svn">SVN</li>
					</ul>
				</li>
				<li class="ux"><h4> <i class="icon-up-hand"></i>User Experience</h4>
					<ul>
						<li class="prot">Interactive Prototyping</li>
						<li class="sketch">Sketching</li>
						<li class="wireframe">Wireframing</li>
						<li class="iterate">Iteration</li>
						<li class="lucid">Lucid Charts</li>
						<li class="omni"> Omnigraffle </li>
						<li class="fireworks">Adobe Fireworks</li>
					</ul>
				</li>
			</ul>
		</div>

		</aside>

		<div class="main-content">
		<div class="profile block">	
			<h3>Objective</h3>
            <p>I do front-end, UX, and design. I use creativity, logic, research, and communication to produce excellent human experience's with technology. I'm in search of an opportunity to work with amazing people and build awesome things.</p> 
		</div>

		<div class="experience block">

			<h3>Recent Experience</h3>

			<div class="intstrux">

				<h4>Front-End Designer</h4>

					<h5>Intstrux</h5>

					<p><em>March 2009 – Present (4 years) | New York, NY</em></p>

					<p>I've worn many hats working at Intstrux. I began as a pixel-pushing designer, and from design realized how important user experience and information architecture is. I integrated more UX strategies into my work, but still felt a piece was missing from my understanding of a successful project. My integration of front-end development has not only improved my 'skill set', it has also improved my understanding of UX and my aesthetic abilities.</p>

					<ul>
						<li>Solidify project objectives and client/user needs</li>
						<li>Detail the ideas gathered from stakeholders and users and convert them into a consolidated list of project requirements</li>
						<li>Create wireframes and other necessary UX documents</li>
						<li>Create effective interaction designs</li>
						<li>Designing web site and mobile UI</li>
						<li>Manage requests for changes to the design once development begins</li>
						<li>Develop and skin web sites, mobile apps, and other digital projects</li>
						<li>Led front-end development with new approaches including responsive design</li>
					</ul>
			</div>
		</div>

		<div class="education block">
			<h3>Education</h3>
			<p class="school">Virginia Commonwealth University</p>	
			<p class="school-town">Richmond, VA</p>
			<p class="degree">Bachelors in Broadcast Journalism</p>
			<p class="minor">Minor in Creative Writing</p>
			<p class="education-time"><em>January 2002 - January 2007</em></p>
		</div>
		</div>

	</div>
</section>