<section class="resume">

<aside class="container">

		<h1>Summary</h1>

		<hr />

		<p>Originally I went to school for Broadcast Journalism and Creative Writing. My career path quickly moved more towards graphic design and web development. I am now thoroughly obsessed with the web, digital design and user experience.</p>

		<p>I&rsquo;m a self-taught UX/UI designer and front-end developer who uses the latest design trends and UX theories to produce the best digital experience possible.</p>

		<p>I&rsquo;m a constant learner, reader, and tutorial taker. I&rsquo;m obsessed with technology, apps (web, pc/mac, iPhone, iPad), and workflow.</p>

		<p>Specialties: HTML(HTML5), CSS, Sass, Wireframing/Prototyping, Adobe Fireworks, Responsive Web Design, UX&hellip;</p>

		<h1>Skills</h1>

		<hr />

		<table>
		<thead>
		<tr>
		<th style="text-align:left;"> Front-End  </th>
		<th style="text-align:left;"> Design      </th>
		<th style="text-align:left;"> UX          </th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td style="text-align:left;"> CSS3       </td>
		<td style="text-align:left;"> Photoshop   </td>
		<td style="text-align:left;"> Prototyping </td>
		</tr>
		<tr>
		<td style="text-align:left;"> HTML5      </td>
		<td style="text-align:left;"> Illustrator </td>
		<td style="text-align:left;"> Omnigraffle </td>
		</tr>
		<tr>
		<td style="text-align:left;"> Sass       </td>
		<td style="text-align:left;"> Fireworks   </td>
		<td style="text-align:left;"> Sketching   </td>
		</tr>
		<tr>
		<td style="text-align:left;"> Git        </td>
		<td style="text-align:left;">             </td>
		<td style="text-align:left;"> Wireframing </td>
		</tr>
		<tr>
		<td style="text-align:left;"> Drupal     </td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td style="text-align:left;"> JavaScript </td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td style="text-align:left;"> jQuery     </td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td style="text-align:left;"> Compass    </td>
		<td></td>
		<td></td>
		</tr>
		</tbody>
		</table>
</aside>

	<div class="content">
		<div class="container">
			<h1>Education</h1>

			<hr />

			<table>
			<thead>
			<tr>
			<th style="text-align:center;">   <strong>Virginia Commonwealth University</strong>   </th>
			<th style="text-align:left;"> Richmond, VA </th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td style="text-align:center;">   Bachelors in Broadcast Journalism   </td>
			<td style="text-align:left;"> January 2002 - January 2007  </td>
			</tr>
			</tbody>
			</table>
		</div>

		

		<div class="container">
			<h1>Work Experience</h1>

			<hr />

			<h2>Front-End Designer</h2>

			<h3>Intstrux</h3>

			<p><em>March 2009 – Present (4 years) | New York, NY</em></p>

			<p>I used to do graphic and interface design but have transitioned into front-end design and UX.</p>

			<ul>
			<li>Solidify project objectives and client/user needs</li>
			<li>Detail the ideas gathered from stakeholders and users and convert them into a consolidated list of project requirements</li>
			<li>Create wireframes and other necessary UX documents</li>
			<li>Create effective interaction designs</li>
			<li>Designing web site and mobile UI</li>
			<li>Manage requests for changes to the design once development begins</li>
			<li>Develop and skin web sites, mobile apps, and other digital projects.</li>
			</ul>


			<h2>WAT-AAH!</h2>

			<h3>Intern</h3>

			<p><em>January 2009 – March 2009 (3 months)</em></p>

			<p>I interned and assisted with ideas and provided digital branding advice.</p>

			<h2>Media At Large</h2>

			<h3>Production Assistant</h3>

			<p><em>May 2008 – December 2008 (8 months)</em></p>

			<ul>
			<li>Design / Video Production</li>
			</ul>


			<h2>WRIC-TV8</h2>

			<h3>Production Assistant</h3>

			<p><em>June 2007 – November 2007 (6 months)</em></p>

			<p>I worked to help produce a live news show. I shared responsibilities as a camera man, sound engineer and studio assistant.</p>

			<h2>Cox Radio</h2>

			<h3>Promotions Assistant</h3>

			<p><em>June 2007 – November 2007 (6 months)</em></p>

			<p>I attended events and interacted with listeners by giving away &lsquo;swag&rsquo; and assisting DJ&rsquo;s with their live show.</p>

			<h3>Virginia Film Office</h3>

			<h4>Intern</h4>

			<p><em>March 2006 – May 2007 (1 year 3 months)</em></p>

			<p>I worked as an office assistant to promote film production in Virginia and assist with catering to any current productions.</p>
		</div>

		<div class="container">	
		<h1>Interests</h1>

		<hr />

		<p>MT Biking, Skiing, Camping, Writing, UX, Apps, Music</p>
	
	</div>

	</div>
	
	
	</section>