//----------------------------------------------------------------------------
// skills.scss  
// Skills and Proficiencies
//----------------------------------------------------------------------------

.skills
{
	margin-bottom: 0;
	padding-bottom: 0;
}

.skills .col-wrap
{

	@include tablet-landscape-and-below
	{
		@include leader(1, $baseFontSize, margin);
	}

	h4
	{
		@extend %border-bottom;
		@include leader(1, $baseFontSize, margin);
		text-transform: uppercase;
	}

	.copy
	{
		// Keep cols same height
		min-height: 12em;
	}

	p
	{
		@include adjust-font-size-to(14px, 1, 16px);
	}

	.icn
	{
		margin: 0 auto;
		max-width: 15rem;
	}

}


.design > .copy > h4
{
	color: $red;
}

.develop > .copy > h4
{
	color: $blue;
}

.ux > .copy > h4
{
	color: $yellow;
}



@media only screen and (min-width: $mq-tablet-portrait) and (max-width: $mq-tablet-landscape)
{

	.skills
	{
		padding-top: 0;
	}

	.skills-.wrap
	{
		
	.icn
	{
		@include span-columns(4,16);
		padding: 2rem;
	}

	p, h4
	{
		@include span-columns(12 omega,16);
	}

	.develop.col-wrap
	{
		.icn
		{
			@include span-columns(4 omega,16);
			
		}

		p, h4
		{
			@include span-columns(12,16);
		}
	}

	// .design.col-wrap
	// {
	// 	@include span-columns(4,16);
	// 	@include pre(1);
	// }

	// .develop.col-wrap
	// {
	// 	@include span-columns(4,16);
	// 	@include pre(1);
	// }

	// .ux.col-wrap
	// {
	// 	@include span-columns(4 omega,16);
	// 	@include post(1);
	// }
}

}

@include desktop-and-up
{
		
// 3 Columns
.skills-.wrap
{

	.design.col-wrap
	{
		@include span-columns(4,16);
		@include pre(1);
	}

	.develop.col-wrap
	{
		@include span-columns(4,16);
		@include pre(1);
	}

	.ux.col-wrap
	{
		@include span-columns(4 omega,16);
		@include post(1);
	}
}

}