
<footer id="primary-footer">
    <div class="top">
        <!--Contact Form--> 
        <form method="POST" class="contact" id="contact">
            <fieldset class="contact-inner">
            <p>
                <label for="visitors-name">
                    <!-- <span>Name</span> -->
                    <div class="icn-wrap">
                        <i class="icon-user"></i>
                    </div>  
                    <input placeholder="Name?" type="text" name="visitors-name" id="visitors-name"
                    tabindex="1">

                </label>
            </p>
            <p>
                <label>
                    <!-- <span class="label-text">eMail</span> -->
                    <span class="message-wrap">
                       
                        <div class="icn-wrap">
                            <i class="icon-mail"></i>
                        </div>
                        <input type="email" placeholder="eMail?" name="visitors-email" tabindex="2" id="visitors-email">
                     
                    </span>
                   <!--   <span class="message-text">Please enter a valid email address</span> -->
                </label>
            </p>
            <p>
                <label>
                    <!-- <span>Message</span> -->
                    <div class="icn-wrap">
                        <i class="icon-edit"></i>
                    </div>
                    <textarea name="visitors-message" placeholder="What up?" tabindex="3" id="visitors-message"></textarea>
                </label>
            </p>
            <span class="message- success">Success! Thanks for your message.</span>
            <p class="contact-submit">
              <button name="submit" type="submit" id="contact-submit" class="button">Send Email</button>
            </p>
              

            </fieldset>
        </form>

        

    </div>
    <div class="bottom">
        <p class="copywrite">© 2013 Jason Swetzoff</p>  
        <ul class="social">

            <li><a href="https://twitter.com/Jaswetz"><i class="icon-twitter"></i></a></li>
           <!--  <li><a href="http://dribbble.com/Jaswetz"><i class="icon-dribble"></i></a></li> -->
            <li><a href="https://github.com/Jaswetz"><i class="icon-github"></i></a></li>
            <li><a href="http://www.last.fm/user/Jaswetz"><i class="icon-lastfm-1"></i></a></li>
            <li>
                <address>
                    <a id="contact-link" href="mailto:swetzoff@gmail.com" ><i class="icon-mail"></i></a>
                </address>
            </li>
        </ul>

        </div>  
    </div>
</footer>
