<!-- /HEADER -->
<header class="primary-header">  
    <div class="header-inner">
    
            <div id="logo">
                <a href="#">
                    <div class="logo-wrap">
                        <div class="outer"></div>
                        <div class="inner"></div>
                        <div class="triangle"></div>
                    </div>
                </a>
            </div>

            <nav role="navigation">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
   
        <div class="divider"></div>
    </div><!-- /header-container -->

</header>   
<!-- \HEADER -->  