<!-- /HEADER -->
<header class="primary-header">  
    
    <div class="primary-header-inner">
    
        <div class="primary-header- wrap">

            <div id="logo">
                <% link_to '/index.html' do %>
                    <div class="logo-wrap">
                        <div class="outer"></div>
                        <div class="inner"></div>
                        <div class="triangle"></div>
                    </div>
                <% end %>
            </div>           

            <nav role="navigation">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><%= link_to 'Resume', '/resume.html' %></li>
                    <li><a href="#contact" data-jkit="[scroll]">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="divider"></div>
    </div><!-- /header-container -->

</header>   
<!-- \HEADER -->  