// ---------------------------------------------------------------------------
// About Me
// ---------------------------------------------------------------------------

/////////////////
// Scaffolding //
/////////////////



.about-me 
{
	padding: 0;

	//styles
	background-color: $white;
	@extend %dot-pattern;

	hr:first-child
	{
		display: block;
		@include trailer(2, $baseFontSize, margin);
	}

	hr:last-child
	{
		display: block;
		@include leader(2, $baseFontSize, margin);
	}

	.about-me-.wrap
	{

	}

	.about-me-.img
	{
		border: 1px solid #e9ebee;
		background: $white;
		padding: .3em;
	}

	p
	{
		//reset
		@include leader(1, $baseFontSize, margin);
		@include single-text-shadow(0, 1px, 0, $default-text-shadow-spread, $white);
	}

	small
	{
		@include adjust-font-size-to(10px, 1, 16px);
		color: $gray;
	}

	em
	{
  		@extend %text-em;
	}

	span
	{
		color: $orange;
		padding-left: .1em;
	}
}


//iPad Portrait
@include at-breakpoint($ipad-portrait 16) 
{

	.about-me
	{
		.about-me-.img
		{
			@include span-columns(7.5,16);
		}

		.about-me-.copy
		{
			@include span-columns(7.5 omega,16);
		}

		p
		{
			//reset
			margin-top: -.32em;
			@include single-text-shadow(0, 2px, 0, $default-text-shadow-spread, $white);
		}
	}

}/* End iPad-Portrait*/



