//----------------------------------------------------------------------------
// Blocks
//----------------------------------------------------------------------------


.page-end
{	
	.inner-wrap
	{
				background: $borderColor;
	@include border-radius($default-border-radius);
	@include trailer(1, $baseFontSize, margin);

		@include clearfix();
		padding-left: 1rem;
		padding-right: .2rem;

		@include tablet-landscape-and-up
		{
			@include span-columns(14,16);
			@include push(1);	
		}

	}

	.btn
	{
		float: right;
		margin: 1rem auto;
		text-align: center;

		@extend %btn;
		@extend %btn-trans;

		@extend %df-trans;
	}

	p
	{
		margin: 0;
		float: left;
		color: $bsClr;
	}

	@include tablet-portrait-and-up
	{
		@include leader(2, $baseFontSize, margin);
		@include trailer(2, $baseFontSize, margin);	

	
		.inner-wrap
		{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		p
		{
			line-height: 5rem;
		}

		.btn
		{
			margin-right: .7rem;
		}
	}

	@include tablet-portrait-and-below
	{

		.inner-wrap
		{
			padding-top: .5rem;
			padding-bottom: .5rem;
		}


		p
		{
			width:100%;
			text-align: center; 
		}

		.btn
		{
			@include span-columns(8,16);
			@include push(4);
			@include trailer(.5, $baseFontSize, margin);
		}
	}

}



// header
// {
// 	//@include background(linear-gradient(top, rgba(0,0,0, 0), $blackTransperntLight ));
// }

// .sec-ttl
// {
// 	display: relative;
// 	width: 100%;
	
// 	h3
// 	{
// 		margin: 0;
// 		display: block;
// 		text-align: center;
// 		color: $bsClr;
// 		text-transform: uppercase;
// 	}


// 	&:after
// 	{
// 		content: "";
// 		width: 0;
// 		height: 0;
// 		margin-top: 6px;
// 		border: 1% solid transparent;
// 		position: absolute;
// 		border-top-color: $red;
// 		margin: 0 auto;
// 	}
// }

// .sec-ttl
// {
// 	background: white;
// 	@include rem("height", 30px);
// }