// Forms

::-webkit-input-placeholder {
   color: $placeholderClr;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholderClr;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholderClr;  
}

:-ms-input-placeholder {  
   color: $placeholderClr;  
}

.success
{
  display: none;
  @extend %df-trans;
  width:100%;
  position: relative;
  background: darken($green, 5%);
  padding: .5em;
  text-align: center;
  color: shade($green, 50%);
  border: 1px solid tint($green, 5%);
  @include border-radius($default-border-radius);

}

form
{
    @include leader(2, $baseFontSize, padding);
    @include trailer(2, $baseFontSize, padding);
    // for icons
    position: relative;

   .icn-wrap
    {
      position: relative;

      i
     {
        //position
        // left: 16px;
        @include background(linear-gradient(bottom, darken($formClr, 1%) 50%,lighten($formClr, 1%) 51%));
        position: absolute;
        height: 2.64em;
        width: 2em;
        left: 0%;


        // Style
        line-height: 52px;
        padding-right: .75em;
        padding-left: .26em;
        // border-radius: 50%;
        border: 1px solid darken($formClr, 1);
        // color: shade($orange, 40%);
        // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
        @include single-box-shadow(tint($formClr, 8%) , -1px, 0, 0, 0, true);

        color: $white;
        text-shadow: 0 2px shade($orange, 15%);



        &.icon-edit
        {
  
            
            @include border-corner-radius( bottom, right, 50%);
        }
    
      }
    }
}



input[type="text"],
input[type="email"],
textarea
{
  width: 100%;
  padding: .5em .5em;
  display: block;
  padding-left: 2.8em;

  // style
  border: none;
  @include border-radius($default-border-radius);
  border: 1px solid darken($formClr, 1);
  background: $formClr;
  @include adjust-font-size-to(16px);
  font-weight: 200;
  color: $white;
  // text-shadow: 0 1px 0 rgba(0, 0, 0, 1);

  // @include background(linear-gradient(bottom, tint($formClr, 5%), $formClr));
  background: $formClr;

  @extend %df-trans;

  @include box-shadow(
    0 -1px 0 lighten($formClr, 2) inset,
    0 1px 0 lighten($formClr, 1) inset
    );

  //reset
  outline: none;

  &:hover
  {
    
    border-color: darken($formClr, 3);
    background: saturate(darken($formClr, 1), 6);
  }

    &:active
  {

    border-color: darken($formClr, 5);
  }

  &:focus
  {
    background: darken($white, 10%);
    color: $grayDark;
  }

}


#contact button[type="submit"]
{
    cursor:pointer;
    width:100%;
    border: none;
    

    display: inline-block;
    padding: .8em;
    border-radius: 2px;
    background: shade($orange, 5%);
    border: 1px solid shade($orange, 10%);
    @include background(linear-gradient(top, tint($orange, 2%), shade($orange, 5%)));
    @include single-box-shadow(tint($orange, 12%), 0, 1px, 0, 0, inset);

  
  // Font Styles
  color: $white;
  text-shadow: 0 2px shade($orange, 15%);
  text-decoration: none;

  letter-spacing: 1px;
  @include adjust-font-size-to(16px, 1, 16px);

  
  // Other
 @extend %df-trans;

  &:hover
  {
    @include background(linear-gradient(top, tint($orange, 4%), shade($orange, 7%)));
     border: 1px solid shade($orange, 5%);
  }

  &:active
  {
    @include background(linear-gradient(top, $orange, shade($orange, 2%)));
  }

}

label 
{ 
  cursor: pointer; 
  display: block; 

  // span
  // {
  //     display: block;
  //     @extend %border-bottom;
  //     border-color: shade($orange, 10%);
  //     @include trailer(.5, $baseFontSize, margin);
  //     @include adjust-font-size-to(15px, .5, 16px);
  //     text-transform: uppercase;
  //     font-weight: bold;
  //     text-align: left;
  //     color: shade($orange, 30%);
  // }
}
 

fieldset 
{
  padding: 0;
  margin: 0;
  border: 0;
}

textarea 
{ 
  height: auto; 
}

select 
{ 
  width: 100%; 
}
	
////////////
// Styles
///////////
	







	
	

	