//----------------------------------------------------------------------------
// Footer  
//----------------------------------------------------------------------------

#primary-footer > .bottom
{
	background: $ftrClr;
	@extend %clr;
	padding: 0 5%;
}

#primary-footer > .top
{
	background: $orange;
  position: relative;
  padding: 0 $wrap-padding;
}

@include mobile-only
{
	 padding: 0 $wrap-padding-mobile;
}

#primary-footer 
{
	
	position: relative;


	.bottom
	{
		@include leader(.5, $baseFontSize, padding);
		@include trailer(.5, $baseFontSize, padding);
	}

	.copywrite, .social
	{
		@include leader(.5, $baseFontSize, padding);
		@include trailer(.5, $baseFontSize, padding);
		color: tint($ftrClr, 25%);
	}

	.copywrite
	{
		@include adjust-font-size-to(10px, 1, 16px);
	}

	ul.social,  ul.social > li
	{
		@extend %ul-reset;
	}

	ul.social
	{
		display: inline-block;	

		> li
		{
			display: inline-block;
			
			i, a
			{
				@extend %df-trans;
				@include transition-duration(.2s);
			}

			&:first-child a
			{
				margin: 0;
			}

			a
			{
				margin-left: .5em;
				border: 1px solid rgba($orange, 0);
				padding: .5em;
				@include border-radius($default-border-radius);
				display: block;
				color: tint($ftrClr, 25%);

				&:hover, &:focus
				{
					border: 1px solid $orange;
					color: $orange;
					@include border-radius(50%);
				}

			}
		}
	}
}

@include mobile-only
{
  .contact
  {
    display: none;
    visibility: hidden;
  }

	#primary-footer 
	{
		.bottom
		{
			padding: 0;
		}

		 ul.social
		{
			background: $orange;

			> li
			{
					a
			{
				
				
				color: $white;

				&:hover, &:focus
				{
					//border: 1px solid $white;
					color: $white;
					@include border-radius(50%);
				}

			}
			}
		}

	}

}

@include tablet-portrait-and-below
{
	#primary-footer 
	{
		.copywrite, ul.social
		{
			width: 100%;
			text-align: center;
			margin: 0 auto;
		}

	}
}

@media only screen and (min-width: $iphone-landscape)
{
	#primary-footer 
	{
		.copywrite
		{
			float: left;
			margin: 0;
		}

		ul.social
		{
			float: right;
		}
	}
}
