//----------------------------------------------------------------------------
// Footer  
//----------------------------------------------------------------------------

#primary-footer > .bottom
{
	background: $ftrClr;
	@extend %clr;
	padding: 0 5%;
}

#primary-footer > .top
{
	background: $orange;
  position: relative;
  padding: 0 20%;

}

#primary-footer 
{
	
	position: relative;


	.copywrite, .social
	{
		@include leader(.5, $baseFontSize, padding);
		@include trailer(.5, $baseFontSize, padding);
		color: $white;

		
	}

	.copywrite
	{
		float: left;
		margin: 0;
		@include adjust-font-size-to(10px, 1, 16px);
		
	}

	.social
	{
		float: right;
	}

}