//----------------------------------------------------------------------------
// Header  
//----------------------------------------------------------------------------

.primary-header
{
	z-index: $zindexFixedNavbar;
	border-bottom: 1px solid;
	//for fixed nav bar
	position:relative;
	width: 100%;

	#logo
	{
		// Reset
		padding: 0;		

		// Position
		display: inline-block;
		float: left;
		
		
			.logo-wrapper
			{
				position: relative;
			}

			.outer, .inner, .triangle
			{
				@extend %df-trans;
				position: absolute;
				@extend %border;
			}

			.outer
			{
				width: 33px;
				height: 33px;
			}

			.inner
			{
				@include transition-delay(.5s);

				@extend %circle;
				margin: 3px 2px 2px 3px;
				width: 27px;
				height: 27px;
			}

			.triangle
			{
				margin-top: 9px;
				margin-left: 9px;
				width: 0px;
				height: 0px;
				border-width: 0 7px 14px 7px;
				border-style: solid;
				border-color: transparent transparent $bsClrTint transparent;
			}

			&:hover, &:active, &:focus
			{
				.triangle
				{
					border-color: transparent transparent $orange transparent;
				}

				.inner, .outer
				{
					border-color: transparent;
				}
			}
	}
}

.primary-header-.wrap
{
	overflow: visible;
}

.primary-header-inner
{
	// Reset
	@extend %clr;
	
	//Styles
	background: $bg1;
	@extend %border-bottom;
	@extend %hlght-brdr-top;
	border-color-bottom: white;
	@include box-shadow(0px 0px .5rem 0px transparentize($bsClrTint, .5), 0px 0 3px 0px rgba(0, 0, 0, 0.1));

	//Positon
	position: fixed;
	@include rhythm(0, .5, .5, 0, 16px);

	width: 100%;

	// ------ Main Nav ----->

	nav > ul
	{
		@extend %ul-reset;
	}

	nav[role=navigation]
	{
		display: inline-block;
		float: right;	

		> ul
		{
			> li
			{
				display: inline-block;
				float: left;
				text-align: center;		
		
				a
				{		
					@extend %df-trans;
				
					@include border-radius($default-border-radius);
					width: 9 * $gtr;
					display: block;
					margin-left: $gtr;
					border: $btnBorderWidth solid $bsClrTint;

					@include adjust-font-size-to(12px, 1.2, 16px);
					color: darken($bsClrTint, 10%);
					text-decoration: none;

					&:hover
					{
						@include single-box-shadow($blackTransperntVeryLight, 0, 3px, $default-box-shadow-blur, $default-box-shadow-spread, $default-box-shadow-inset);
						@include background(linear-gradient(top, $white, shade($white, 1%)));
						color: $orange;
					}


					&:active
					{
						@include single-box-shadow(none);
						@include background(linear-gradient(bottom, $white, shade($white, 1%)));
					}
				}

			}
		}
	}

}// Header ------

div#jkit-tooltip {
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	position: fixed;
}

.mytooltip {
	background: #333;
	color: #fff;
	padding: 6px;
	padding-bottom: 5px;

	
	opacity: 0.9;
	
	border: 1px #E01B49 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
}

@include tablet-portrait-and-up
{
	.primary-header-inner
	{

		nav[role=navigation]
		{
			> ul
			{
				> li
				{	
					a
					{		
						width: 13 * $gtr;
					}
				}
			}
		}

	}
}// End iPhone-landscape ----


@include tablet-landscape-and-up
{
	.primary-header
	{
		#logo
		{

			.outer
			{
				width: 41px;
				height: 41px;
			}

			.inner
			{
				margin: 4px;
				width: 33px;
				height: 33px;
			}

			.triangle
			{
				margin-top: 11px;
				margin-left: 12px;
				border-width: 0 8px 16px 8px;
			}
		}
	}

	.primary-header-inner
	{
		@include rhythm(0, .5, .5, 0, 16px);

		nav[role=navigation]
		{
			> ul
			{
				> li
				{	
					a
					{		
						@include adjust-font-size-to(14px, 1.5, 16px);	
						width: 9 * $gtr-large;
					}
				}
			}
		}
	}
}// End ipad-portrait ----
