//----------------------------------------------------------------------------
// Intro  
//----------------------------------------------------------------------------

.intro
{
	//type
	text-align: center;

	//position
	@include leader(.5, $baseFontSize, padding);
	@include trailer(1.5, $baseFontSize, padding);

	background: $orange;

	@include tablet-portrait-and-up
	{
		
		//position
		@include leader(1.8, $baseFontSize, padding);
		@include trailer(1.2, $baseFontSize, padding);
	}

	h2
	{
		margin-top: 0;
		background: darken($orange, 6);
		color: $white;
		font-size: 3rem;
		line-height: 4rem;
		@include trailer(.5, $baseFontSize, margin);
		@include text-shadow(lighten(darken($orange, 6), 8%) 0 1px );
	}

	@include tablet-portrait-and-up
	{
		h2
		{
			padding: .5rem;
			
			// font-size: 3rem;
			// line-height: 4rem;
		}
	}

	em
	{
		line-height: 2rem;
		color: $white;
		@include text-shadow(lighten($orange, 8%) 0 1px );
	}

	@include tablet-portrait-and-up
	{
		em
		{
			padding: .5rem;
			line-height: 4rem;
		}
	}
}