//----------------------------------------------------------------------------
// skills.scss  
// Skills and Proficiencies
//----------------------------------------------------------------------------

.skills
{
	
	margin-bottom: 0;
	padding-bottom: 0;
}

.skills .col-wrap
{

	@include tablet-landscape-and-below
	{
		@include leader(1, $baseFontSize, margin);
	}

	h4
	{
		@extend %border-bottom;
		@include leader(1, $baseFontSize, margin);
		text-transform: uppercase;
	}

	.copy
	{
		// Keep cols same height
		min-height: 12em;
	}

	p
	{
		@include adjust-font-size-to(14px, 1, 16px);
	}

	.icn
	{
		margin: 0 auto;
		max-width: 200px;
	}


	&.grid-unit
	{
		@extend %columns-3;
	}
}


.design > .copy > h4
{
	color: $red;
}

.develop > .copy > h4
{
	color: $blue;
}

.ux > .copy > h4
{
	color: $yellow;
}



@include at-breakpoint($ipad-portrait 10) 
{
	
	// 3 Columns
	%columns-3
	{
		width: 100%;
	}

}

@include at-breakpoint($ipad-landscape 16) 
{
		
// 3 Columns
.skills-.wrap
{

	.design.col-wrap
	{
		@include span-columns(4,16);
		@include pre(1);
	}

	.develop.col-wrap
	{
		@include span-columns(4,16);
		@include pre(1);
	}

	.ux.col-wrap
	{
		@include span-columns(4 omega,16);
		@include post(1);
	}
}

}