//----------------------------------------------------------------------------
// fonts
//----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Androgyne

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face 
{
	font-family:"Androgyne Medium";
	src:url("../fonts/Androgyne_TB.eot?") format("eot"),
	url("../fonts/Androgyne_TB.woff") format("woff"),
	url("../fonts/Androgyne_TB.ttf") format("truetype"),
	url("../fonts/Androgyne_TB.svg#AndrogyneMedium") format("svg");
	font-weight:normal;
	font-style:normal;
}



// ----------------------------------------------------------------------------
// Font Stacks

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;
$mono-stack   : Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
$script-stack : "Androgyne Medium";
