//----------------------------------------------------------------------------
// type  
// Base Type Styles Using Modular Scale 
//----------------------------------------------------------------------------




 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td 
 {
 	color: $bsClr;
 }


 h1, h2, h3, h4, h5, h6 
 {
    font-family: 'audimatbold';
    font-weight: normal;
    font-style: normal;
    color: $bsClr;
    //text-rendering: optimizeLegibility;
    //line-height: 1.1;
    margin-bottom: ms(0);
    margin-top: ms(0);
    // small { font-size: 60%; color: lighten($headerFontColor, 30%); line-height: 0; }
  }

  h1 { font-size: ms(5); }
  h2 { font-size: ms(4); }
  h3 { font-size: ms(3); }
  h4 { font-size: ms(2); }
  h5 { font-size: ms(1); }
  h6 { font-size: ms(0); }