//----------------------------------------------------------------------------
// base.scss
// Imports, settings, and variables
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// @DEBUG

$DEBUG: true;

// ----------------------------------------------------------------------------
// Grid

$total-columns      : 3;
$column-width       : 6.063rem;
$gutter-width       : 0rem;
$grid-padding       : $gutter-width;

$gtr : 0.625rem;


// ---------------------------------------------------------------------------
// @COLORS

// GRAYS
$black						: rgb(0,0,0) ;
$grayDark					: lighten($black, 25%) ;
$gray 						: lighten($black, 50%) ;
$grayLight 					: lighten($black, 75%) ;
$grayLighter				: lighten($black, 90%) ;
$white						: snow     ;

// Transparents
$whiteTransperntVeryLight   : transparentize($white, .90);
$whiteTransperntLight       : transparentize($white, .70);
$whiteTransperntMed			: transparentize($white, .50);
$whiteTransperntLow         : transparentize($white, .30);
$whiteTransperntVeryLow     : transparentize($white, .10);

$blackTransperntVeryLight 	: transparentize($black, .90);
$blackTransperntLight 		: transparentize($black, .70);
$blackTransperntMed 		: transparentize($black, .50);
$blackTransperntLow 		: transparentize($black, .30);
$blackTransperntVeryLow 	: transparentize($black, .10);

// Colors
$red 						: #e35d5b ;
$orange 					: #e8632c ;
$yellow 					: #e8b000 ;
$green 						: #b1cc00 ;
$cyan						: #0e93a9 ;
$cyanDark					: #074655 ;
$blue 						: #4ca2df ;
$blueLight					: #0caad7 ;
$violet 					: #9094d3 ;
$magenta 					: #dc609c ;

// Links
$linkColor 		    		: $blue;
$linkColorAccent			: tint($linkColor, 30%);
$linkColorHover 			: darken($linkColor, 10);
$linkColorVisited   		: darken($linkColorHover, 10);
$linkColorFocus 			: darken($linkColorVisited, 10);

// Color Scheme
$bsClr              		: slategray;
$bsClrTint 					: tint($bsClr, 30%);
$bsClrShade 				: shade($bsClr, 20%);

// Typogrphy
$bg1					    : whitesmoke;
$bgBrdr                     : snow;
$bsTxtClr				    : $grayDark;
$headerColor				: $cyanDark;

$highlightColor				: $bsClr;
$highlightTextColor			: darken($highlightColor, 80%);

// UI
$borderColor				: darken($bsClr, 40%);

//Buttons
$primaryBtnBckgrnd          : $grayLighter;
$secondaryBtnBckgrnd        : lighten($grayLighter, 5%);
$btnBorderStyle				: solid;
$btnBorderWidth				: 1px;


// ---------------------------------------------------------------------------
// TYPOGRAPHY
	
$baseFontSize 				: 16px;
$baseFontFamily 			: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight 			: 24px;

$altFontFamily              : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$altLineHeight              : 1.35em;

$headingsFontFamily		    : $altFontFamily;	            
$headingsFontWeight		    : bold;    			           					

$codeFont 					 	     : Monaco, Courier New, monospace;

$font-shadow-inset 			         : rgba($black, 0.6);

$rhythm-unit                         : rem;
$rem-with-px-fallback       	     : true;

$round-to-nearest-half-line       	 : true;
// $grid-background-baseline-height  : $base-line-height;


// ---------------------------------------------------------------------------
// Vertical Rythem

$base-font-size 			: $baseFontSize;
$base-line-height 			: $baseLineHeight;
$default-rhythm-border-style: solid;
$relative-font-sizing 		: true;
$round-to-nearest-half-line : false;
$min-line-padding			: 2px;
$font-unit					: if($relative-font-sizing, 1em, $base-font-size);


// ---------------------------------------------------------------------------
// Box Shadow

$default-box-shadow-color 	: rgba(51,51,51,.2); 
$default-box-shadow-h-offset: 0px;				
$default-box-shadow-v-offset: 0px;				
$default-box-shadow-blur	: 8px;				
$default-box-shadow-spread 	: false;			
$default-box-shadow-inset	: false;			


// ---------------------------------------------------------------------------
// Border

$brdrWdth: 1px;
$brdrStyle: solid;
$brdrColor: $bsClr;

// ---------------------------------------------------------------------------
// Border Radius

$default-border-radius		: 3px;


// ---------------------------------------------------------------------------
// Z-INDEX

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown				: 1000 ;
$zindexPopover				: 1010 ;
$zindexTooltip				: 1020 ;
$zindexFixedNavbar			: 1030 ;
$zindexModalBackdrop		: 1040 ;
$zindexModal 				: 1050 ;

// ---------------------------------------------------------------------------
// @DEVICE SIZES

// Referenced: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/

// iPhone //
$iphone-portrait  			: 320px;
$iphone-landscape 			: 480px;

// SmartPhones //
$smartphone-landscape 		: 321px;
$smartphone-portrait 		: 320px;

// iPad //
$ipad-portrait	  			: 768px;
$ipad-landscape 			: 1024px;

// Desktops and Laptops //
$desktop 					: 1224px;

// Large Screens //
$large-screens 				: 1824px;


// Imports
@import "mixins"; //custom mixins
@import "styles";
@import "utility";

