//----------------------------------------------------------------------------
// Global Layout  
//----------------------------------------------------------------------------

////////////
// Clears
////////////

header, footer, .row-clear
{
	@extend %clr;
}


//////////
// Hide //
//////////

// Keep visible for screenreaders
section.skills, section.about-me, section.intro
{
	h3
	{
		@extend %element-invisible;
	}

}


////////////
// Styles //
////////////

body, .page-bckg
{
	background: $bg1;
}


// ---------------------------------------------------------------------------
// Main Layout Components

/////////////////
// Global Wrap //
/////////////////

.main-wrap
{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width:100%;
	*zoom:1;
}

.content-wrap
{
	margin-top: $base-leader  * 7;
}

.page-bckg
{
	position: relative;
}

///////////////
// Row Wrap	 //
///////////////

$wrap-padding: 3.75rem;
$wrap-padding-mobile: ($wrap-padding / 3);

.wrap
{
	position: relative;
	padding: 0 110px;
	padding: 0 $wrap-padding;
	max-width: 1204px; 
	margin: 0 auto;

	@include clearfix(); 
}

@include mobile-only
{
	.wrap
	{
		padding: 0 $wrap-padding-mobile;
	}
}

.about-me, .skills
{
	@extend %section-spacing;
}


@include mobile-only
{
	.content-wrap
	{
		margin-top: $base-leader  * 6;
	}
}


