<footer id="primary-footer">
    <div class="top">
        <!--Contact Form-->
        <form method="POST" class="contact" id="contact">
            <!-- <h3>Feel free to talk to me!</h3>
            <p>You can fill the form below, or just use your eMail client by clicking <a id="contact-link" href="mailto:swetzoff@gmail.com" >here</a></p> -->
            <fieldset class="contact-inner">
                <label for="visitors-name">
                    <span class="label">Name?</span>
                    <div class="icn-wrap">
                        <i class="icon-user"></i>
                    </div>
                    <input placeholder="Name?" type="text" name="visitors-name" id="visitors-name"
                    tabindex="1" required>
                </label>
                <label for="visitors-email">
                        <span class="label">eMail?</span>
                        <div class="icn-wrap">
                            <i class="icon-mail"></i>
                        </div>
                        <input type="email" placeholder="eMail?" name="visitors-email" tabindex="2" id="visitors-email" required>
                </label>
                <label for="visitors-message">
                    <span class="label">What's Up?</span>
                    <textarea name="visitors-message" placeholder="What up?" tabindex="3" id="visitors-message" required></textarea>
                 </label>

            <span id="notification" class="message- success">Success! Thanks for your message.</span>

            <p class="contact-submit">
              <button name="submit" type="submit" id="contact-submit" class="button" tabindex="4">Send Email</button>
            </p>
            </fieldset>
        </form>

    </div>
    <div class="bottom">
        <ul class="social">
            <li><a href="https://twitter.com/Jaswetz"><i class="icon-twitter"></i></a></li>
            <li><a href="http://dribbble.com/Jaswetz"><i class="icon-dribbble"></i></a></li>
            <li><a href="https://github.com/Jaswetz"><i class="icon-github"></i></a></li>
            <li><a href="http://www.last.fm/user/Jaswetz"><i class="icon-lastfm-1"></i></a></li>
            <li>
                <address>
                    <a id="contact-link" href="mailto:swetzoff@gmail.com" ><i class="icon-mail"></i></a>
                </address>
            </li>
        </ul>
        <p class="copywrite">&copy; 2013 Jason Swetzoff</p>
        </div>
    </div>
</footer>
