//----------------------------------------------------------------------------
// Global Layout  
//----------------------------------------------------------------------------

////////////
// Clears
////////////

header, footer, .row-clear
{
	@extend %clr;
}


//////////
// Hide
//////////

// Keep visible for screenreaders
section h3
{
	@extend %element-invisible;
}


////////////
// Styles
////////////

body, .page-bckg
{
	background: $bg1;
}


// ---------------------------------------------------------------------------
// Main Layout Components

///////////
// Spacing
///////////

.main-wrap
{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

// .content-wrap
// {

// 	width:100%;
// 	margin-left:auto;
// 	margin-right:auto;
// 	max-width:1800px;
// 	*zoom:1;
// }

.content-wrap
{
	margin-top: 8em;
}

.page-bckg
{
	position: relative;
}	


section.container
{
	@extend %section-spacing;
}

//gutter
.container
{
	padding: 0 5%;

}

.grid-unit 
{
	@extend %col-wrap;
}


//iPad Portrait
@include at-breakpoint($ipad-portrait 10) 
{
	
	// 3 Columns
	%columns-3
	{
		width: 30%;
		margin-right: 5%;

		&:last-child
		{
			margin-right: 0;
		}
	}

	// 2 Columns
	%columns-2
	{
		width: 45%;

		&:first-child
		{
			margin-right: 5%;
		}

		&:last-child
		{
			margin-left: 5%;
		}
	}


	//////////////////
	// Layouts
	//////////////////








	// ---------------------------------------------------------------------------
	// Header

// 	.primary-header
// 	{	

// 		#logo
// 		{
// 			h1
// 			{
// 				@include rem('line-height', 58px);
// 			}
// 		}

// 		// ------ Main Nav ----->

// 		a.toggleMenu
// 		{
// 			display: none;
// 		}

// 		.dropdown-wrap
// 		{
// 			width: auto;
// 		}

// 		nav[role=navigation]
// 		{
// 			width: auto;
// 			overflow: auto;
// 			max-height: 15em;
// 			float: right;

// 			ul
// 			{
// 				li
// 				{
// 					display: inline;

// 					a
// 					{

// 					}
// 				}
// 			}
// 		}

// 	// <----- Main Nav ------
// }

// Header ------

}/* End iPad-Portrait */




