.content 
{ 
	h3
	{
		line-height: 1.38571em;
	}

	/* Background */
	background-color: $bg1; 

	/* Text */
	color: $bsTxtClr;

	section:first-child
	{
		background: url(../img/base/intro-ptrn@2x.png);
	}

	.arrw-dwn
	{
		/* Box */
		margin: 0 auto;
		width: 0;
		height: 0;

		/* Border */
		border: 15px solid transparent;
		border-top-color: $white;
	}

}


