// Forms

::-webkit-input-placeholder {
   color: $placeholderClr;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholderClr;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholderClr;  
}

:-ms-input-placeholder {  
   color: $placeholderClr;  
}


form
{
    @include leader(2, $baseFontSize, padding);
    @include trailer(2, $baseFontSize, padding);

    // for icons
    p
    {
      position: relative;
    }
    
    p i
    {
      //position
       left: 16px;
       top: 65px;
       position: absolute;

       // Style
       line-height: 48px;
    }
}

input[type="text"],
input[type="email"],
textarea
{
  width: 100%;
  padding: 1em .5em;
  display: block;
  
  // style
  border: none;
  @include border-radius($default-border-radius);
  background: shade($orange, 10%);
  @include adjust-font-size-to(16px);
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  @include box-shadow(
    0 -2px 0 $whiteTransparentVeryLight inset,
    0 2px 0 shade($orange, 15%) inset

    );

  //reset
  outline: none;
}

label 
{ 
  cursor: pointer; 
  display: block; 

  span
  {
      display: block;
      @extend %border-bottom;
      border-color: shade($orange, 10%);
      @include trailer(.5, $baseFontSize, margin);
      @include adjust-font-size-to(15px, .5, 16px);
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      color: shade($orange, 30%);
  }
}
 

fieldset 
{
  padding: 0;
  margin: 0;
  border: 0;
}

textarea 
{ 
  height: auto; 
}

select 
{ 
  width: 100%; 
}
	
////////////
// Styles
///////////
	







	
	

	