//----------------------------------------------------------------------------
// skills.scss  
// Skills and Proficiencies
//----------------------------------------------------------------------------








// ---------------------------------------------------------------------------
// Global

.skls
{
	.sctn-inner
	{
		padding: 2em;
	}

	article
	{

		p, h4
		{
			text-align: center;
		}

		.icn
		{
			/* Box */
			width: 120px;
			border: none;
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 45em) 
{
	%clear-row
	{
		&:before, 
		&:after 
		{
			content: " ";
			display: table;
		}

		&:after 
		{
			clear: both;
		}
	}

	%col-3
	{
	  display: block;
	  float: left;
	  width: 33.333333333%;
	  padding-right: 2em;

	  &:last-child
	  {
	  	padding-right: 0;
	  }
	}

	.skls
	{
		@extend %clear-row;

		.sctn-inner
		{
			padding: 2em;
			@extend %clear-row;
		}

		article
		{
			@extend %col-3;
		
			.icn
			{
				/* Box */
				width: 200px;
				border: none;
				height: auto;
			}			

			p, h4
			{
				text-align: left;
			}

		}
	}
}

// Global ------


// iPad Portrait
// @include at-breakpoint($ipad-portrait 10) 
// {

// 	.icn-dsgn
// 	{
// 		float: left;

// 		/* Background */
// 		background-image: url(../img/icn-dsgn.png);

// 		p
// 		{
// 			margin: 0 1em;
// 		}
// 	}

// 	.skls-text
// 	{
// 		float: left;
// 		width: 74.93%;
// 	}

// 	.prfc
// 	{
// 		a
// 		{
// 			/* Includes and Mixins */
// 			@extend %btn;
// 			@extend %btn-smpl;

// 			/* Box */
// 			position: relative;
// 			float: right;
// 			padding: .4em .8em;
// 			width: 10%;

// 			/* Text */
// 			text-align: left;
// 			font-weight: bold;

// 		}
// 	}

// }