//----------------------------------------------------------------------------
// skills.scss  
// Skills and Proficiencies
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// Global

.sctn-dsgn-icn
{
	width: 100%;
}

.icn-dsgn
{
	/* Box */
	display: block;
	width: 82px;
	height: 97px;
	margin: 0 auto;

	/* Background */
	background-image: url(../img/icn-mbl-dsgn.png);
}

.skls > article
{

	h3
	{
		text-align: center;
	}

	p
	{
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 1.5em;
	}
}


.prfc
{
	a
	{
		/* Includes and Mixins */
		@extend %btn;
		@extend %btn-smpl;

		/* Box */
		position: relative;
		padding: .4em .8em;
		width: 100%;

		/* Text */
		text-align: left;
		font-weight: bold;

		// Arrow
		&:after
		{
			/* Other */
			content: "";

			/* Box */
			position: absolute;
			top: .4em;
			right: .7em;
			width: 0;
			height: 0;

			/* Border */
			border: 8px solid transparent;
			border-bottom: 8px solid white;
		}
	}
}

// Global ------

// ---------------------------------------------------------------------------
// Design

.dsgn
{

}
	
// Design ------



// iPad Portrait
@include at-breakpoint($ipad-portrait 10) 
{

	.icn-dsgn
	{
		float: left;

		/* Background */
		background-image: url(../img/icn-dsk-dsgn.png);
		width: 108px;
		height: 127px;
		width: 15.07%;

		p
		{
			margin: 0 4em;
		}
	}

	.skls-text
	{
		float: left;
		width: 74.93%;
	}

	.prfc
	{
		a
		{
			/* Includes and Mixins */
			@extend %btn;
			@extend %btn-smpl;

			/* Box */
			position: relative;
			float: right;
			padding: .4em .8em;
			width: 10%;

			/* Text */
			text-align: left;
			font-weight: bold;

		}
	}

}