//----------------------------------------------------------------------------
// Styles
//----------------------------------------------------------------------------

// Animations
%df-trans
{
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
}

%df-trnsfrm
{
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
}

%logo-trans
{
	@include transition-property(background);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);
}

// Shapes

%circle
{
	@include border-radius(50%);
}

// Shadows

%inset-border
{
	@include box-shadow(0 2px 0 $white inset);
}

%shadow-full
{
	@include box-shadow(0 0 5px 0 rgba(51, 51, 51, .45));
}

// Borders

%hlght-brdr-top
{
	border-top: $base-half-leader  solid $orange;
}

%border-bottom
{
	border-bottom: 1px solid $borderColor;
	@include trailer(.3, $baseFontSize, padding);
}

%borders-top-bottom
{
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
}

%border
{
	border: 1px solid $borderColor;
}

// Gradients

// Elements and Figures

%dot-pattern
{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkQAKMIPbL1+/+i4sKMYI5MAAATXkEBOSqHasAAAAASUVORK5CYII=) repeat;
}

// Styles

%text-em
{
	background: $highlightTextColor;
	color: shade($highlightTextColor, 60%);
	@include border-radius($default-border-radius);
	padding: .2em .5em;
}

%block
{
	border: 1px solid $borderColor;
	@include border-radius($default-border-radius);
	background: $white;
	@include single-box-shadow(lighten($bsClr, 42%), 0, .25rem, 0, $default-box-shadow-spread, $default-box-shadow-inset);
}



// Buttons

	%btn
	{
		/* Box */
		display: inline-block;

		/* Text */
		text-decoration: none;

		/* Other */
		@extend %df-trnsfrm;
	}


	%btn-smpl
	{
		/* Border */
		border: 1px solid darken($bsClr, 10%);
		@include border-radius(3px);

		/* Background */
		@include background(linear-gradient(top, lighten($bsClr, 10%), $bsClr));

		/* Text */
		color: $white;
		text-decoration: none;
		text-shadow: 0 -1px $blackTransperntMed;

		/* Other */
		@extend %df-trnsfrm;

		&:hover
		{
			@include background(linear-gradient(top, lighten($bsClr, 8%), darken($bsClr, 2%)));
		}
	}

$btn-trans-color: lighten($bsClr, 30%);

%btn-trans
{
	position: relative;
	margin: .5em;
	padding: .4em .8em;
	border-radius: 2px;
	background: $btn-trans-color;
	@include box-shadow( 0 4px darken($btn-trans-color, 5) );

	// Font Styles
	color: white;
	text-shadow: 0 -1px shade($btn-trans-color, 2);
	font-weight: 600;
	@include adjust-font-size-to(14px, 1, 16px);

    &:hover
    {
       background: lighten( $btn-trans-color, 2% );
    }

    &:active
    {
       box-shadow: none;
       top: 3px;
    }
}
